$primary: #000080;
$accent-color: $primary;

@import './overrides';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './borders';
@import 'toastr';

a {
  &:not([href]):not([tabindex]) {
    color: $primary;

    &.color-inherit {
      color: inherit;
    }
  }

  &.color-inherit {
    color: inherit;
  }

  cursor: pointer;
}

label {
  margin-bottom: 0px;
}

.text {
  &-light-gray {
    color: $gray-400 !important;
  }

  &-gray {
    color: $gray-500 !important;
  }
}

.nowrap {
  white-space: nowrap;
}

.clickable {
  cursor: pointer;
}

.text-large {
  font-size: 1.4rem;
}

.text-small {
  font-size: 0.7rem;
}

.small-gutters {
  margin-right: -5px;
  margin-left: -5px;

  > .col,
  > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.card {
  background-color: #fff;
  border: none;
  border-radius: .625rem;
  -webkit-box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,.1), 0 0.9375rem 1.40625rem rgba(90,97,105,.1), 0 0.25rem 0.53125rem rgba(90,97,105,.12), 0 0.125rem 0.1875rem rgba(90,97,105,.1);
  box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,.1), 0 0.9375rem 1.40625rem rgba(90,97,105,.1), 0 0.25rem 0.53125rem rgba(90,97,105,.12), 0 0.125rem 0.1875rem rgba(90,97,105,.1);

  &.no-shadow {
    box-shadow: inherit;
    -webkit-box-shadow: inherit;
  }

  &.small-shadow {
    -webkit-box-shadow: 0 0.16875rem 1.1875rem rgba(90, 97, 105, 0.1), 0 0.4375rem 0.80625rem rgba(90, 97, 105, 0.1), 0 0.12rem 0.13125rem rgba(90, 97, 105, 0.12), 0 0.025rem 0.0875rem rgba(90, 97, 105, 0.1);
    box-shadow: 0 0.16875rem 1.1875rem rgba(90, 97, 105, 0.1), 0 0.4375rem 0.80625rem rgba(90, 97, 105, 0.1), 0 0.12rem 0.13125rem rgba(90, 97, 105, 0.12), 0 0.025rem 0.0875rem rgba(90, 97, 105, 0.1);
  }

  &.card-dark {
    background: $accent-color;
    color: #ffffff;
  }

  &.card-light-gray {
    background: $light;
  }

  .card-header {
    background-color: #fff;

    &.header-tabs {
      background-color: rgba(90, 97, 105, .06);
    }
  }

  .card-header,
  .card-body {
    &:first-child {
      border-radius: .625rem .625rem 0 0;
    }
  }
}

.form-control {
  &.danger, &.danger:hover {
    border-color: $danger;
  }

  &.warning, &.warning:hover {
    border-color: $warning;
  }

  &.info, &.info:hover {
    border-color: $info;
  }

  &.success, &.success:hover {
    border-color: $success;
  }

  &.form-control-vsm:not([size]):not([multiple]) {
    height: calc(1.38845rem + 2px);
  }
}

.btn {
  &.btn-vsm {
    padding: .3286rem .675rem;
    font-size: .5875rem;
    line-height: 1.25;
    border-radius: .25rem;
  }
}

table {
  &.table {
    th,
    td {
      vertical-align: middle;
    }
  
    &.top {
      th,
      td {
        vertical-align: top;
      }
    }
  }

  &.small-padding {
    th,
    td {
      padding: 0.2rem;
    }

    tr {
      th:first-child,
      td:first-child {
        padding-left: 0.75rem;
      }

      th:last-child,
      td:last-child {
        padding-right: 0.75rem;
      }
    }
  }

  &.vsmall-padding {
    th,
    td {
      padding: 1px;
    }

    tr {
      th:first-child,
      td:first-child {
        padding-left: 1px;
      }

      th:last-child,
      td:last-child {
        padding-right: 1px;
      }
    }
  }

  &.no-padding {
    th,
    td {
      padding: 0px;
    }

    tr {
      th:first-child,
      td:first-child {
        padding-left: 0px;
      }

      th:last-child,
      td:last-child {
        padding-right: 0px;
      }
    }
  }

  thead {
    &.secondary-header {
      background: #03b0f0;
      color: #ffffff;
    }
  }

  .th-xl {
    min-width: 16rem;
  }

  .th-lg {
    min-width: 9rem;
  }

  .th-sm {
    min-width: 6rem;
  }
}

.overflow-ellipses {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.wrap-always {
    white-space: normal;
    word-break: break-all;
  }

  &:hover:not(.no-hover) {
    word-break: break-all;
    white-space: normal;
    overflow: visible;
  }
}